/* #region RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: unset;
}

ol,
ul {
    list-style: none;
}

button {
    border: none;
    cursor: pointer;
}

img {
    width: 100%;
}

/* #endregion RESET */
/* #region LAYOUT */
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.col {
    padding: 0 10px;
}

.grow {
    flex-grow: 1;
}

/* #endregion LAYOUT */
/* #region GENERAL */
body * {
    font-family: "Montserrat", sans-serif;
}

/* #endregion GENERAL */
/* #region APP BODY */
.app-body {
    height: calc(100vh - 90px);
    display: flex;
}

/* SIDEBAR -----*/
.sidebar {
    background-color: black;
    color: #a3a3a3;
    width: 230px;
    flex-shrink: 0;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.logo, 
.sidebar .navbar,
.new-playlist {
   margin-bottom: 20px;
}

.logo img {
    max-height: 40px;
    width: auto;
}

#logo-small {
    display: none;
}

.sidebar .navbar li {
    margin-bottom: 8px;
}

.sidebar .navbar img {
    max-height: 25px;
    max-width: 25px;
    margin-right: 5px;
}

.sidebar .navbar span,
.new-playlist span,
.playlist li,
.account span {
    vertical-align: super;
    padding-left: 5px;
    font-weight: 900;
    font-size: 14px;
}

.new-playlist {
    margin-bottom: 20px;
}
.new-playlist h4,
.new-playlist span {
    font-size: 16px;
}

.new-playlist h4 {
    text-transform: uppercase;
    color: white;
    margin-bottom: 15px;
}

.new-playlist .fa-solid {
    font-size: 38px;
    margin-right: 5px;
}

.playlist {
    flex-grow: 1;
    overflow-y: auto;
}

.playlist li {
    margin-bottom: 10px;
}

.account {
    margin-top: auto;
}

.account img {
    width: 20px;
    height: 20px;
}

.account hr {
    margin: 8px 0;
}

.account .profile {
    width: 25px;
    height: 25px;
    background-color: #808080;
    border-radius: 50%;
    margin-top: 8px;
}

.account h4 {
    color: white;
    font-size: 16px;
    display: inline;
    padding-left: 5px;
    vertical-align: super;
}
/*----- /SIDEBAR */
/* /MAIN -----*/
.main {
    background-color: #141922;
    width: 100%;
    overflow-y: auto;
}

.upgrade {
    background-color: #080b12;
    height: 90px;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: end;
    align-items: center;
}

.upgrade button {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 35px;
    padding: 10px 25px;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 900;
    margin: 0px 10px;
}

.main .navbar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main .navbar li {
    margin: 20px 20px;
    color: #a3a3a3;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 900;
}

.recently-played {
    margin: 20px 20px;
    color: white;
}

.recently-played h2 {
    margin-bottom: 20px;
}

.recently-played .col {
    width: calc(100%/6);
}

/*----- /MAIN */
/* #endregion APP BODY */
/* #region APP PLAYER */
.app-player {
    background-color: #282828;
    height: 90px;
    display: flex;
}

/* #endregion APP PLAYER */
/* #region RESPONSIVE */
@media screen and (max-width:1100px) {}

@media screen and (max-width:700px) {}

@media screen and (max-width:600px) {
    .sidebar {
        width: 40px;
        padding: 10px;
    }

    .logo :first-child,
    .sidebar .navbar span,
    .new-playlist,
    .playlist,
    .account span,
    .account hr,
    .account h4 {
        display: none;
    }

    #logo-small {
        display: block;
    }

    .sidebar .navbar img {
        width: 100%;
    }

}

/* #endregion RESPONSIVE */